name: sync qiniu

on:
  push:
    paths-ignore:
      - '.github/**'
      - 'README.md'

jobs:
  sync:
    runs-on: ubuntu-latest

    env:
      # 文件过滤规则
      BASE_FILE_PATTERNS: sh/**
      # 七牛云空间名称
      QINIU_BUCKET: assetss
    
    steps:
      - name: 检出代码到本地
        uses: actions/checkout@v2

      - name: 下载七牛云命令行工具 qshell
        run: |
          # 下载 qshell 执行器
          wget --no-check-certificate "https://github.com/qiniu/qshell/releases/download/v2.6.2/qshell-v2.6.2-linux-amd64.tar.gz"
          # 解压
          tar zxvf qshell-v2.6.2-linux-amd64.tar.gz
          # 给执行权限
          chmod +x qshell
          # 设置账户
          ./qshell account -- ${{secrets.QINIU_AK}} ${{secrets.QINIU_SK}} iamc

      - name: 获取改变文件
        id: changedFiles
        uses: jitterbit/get-changed-files@v1

      - name: 过滤添加、修改、重命名的改变文件
        id: filterUpload
        if: ${{steps.changedFiles.outputs.added_modified || steps.changedFiles.outputs.renamed}}
        uses: iamobj/action-minimatch@v1
        with:
          strings: ${{steps.changedFiles.outputs.added_modified}} ${{steps.changedFiles.outputs.renamed}}
          patterns: ${{env.BASE_FILE_PATTERNS}}

      - name: 过滤删除的改变文件
        id: filterDel
        if: ${{steps.changedFiles.outputs.removed}}
        uses: iamobj/action-minimatch@v1
        with:
          strings: ${{steps.changedFiles.outputs.removed}}
          patterns: ${{env.BASE_FILE_PATTERNS}}

      - name: 上传到七牛云
        if: ${{steps.filterUpload.outputs.files}}
        run: |
          # 单文件循环上传
          for changed_file in ${{steps.filterUpload.outputs.files}}; do
            ./qshell fput ${{env.QINIU_BUCKET}} $changed_file $changed_file --overwrite
          done

      - name: 删除七牛云文件
        if: ${{steps.filterDel.outputs.files}}
        run: |
          # 单文件循环删除
          for changed_file in ${{steps.files.outputs.all}}; do
            ./qshell delete ${{env.QINIU_BUCKET}} $changed_file
          done