name: upload qiniu

on:
  push:
    paths-ignore:
      - '.github/**'
      - 'README.md'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 检出代码到本地
        uses: actions/checkout@v2

      # 因为七牛云命令行工具 qsuits 依赖 java 8 及以上
      - name: 安装 java jdk
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '8'
          java-package: jdk

      - name: 下载七牛云命令行工具 qsuits
        run: |
          # 下载 qsuits 执行器
          wget --no-check-certificate "https://github.com/NigelWu95/qsuits-exec-go/raw/master/bin/qsuits_linux_amd64"
          # 重命名为 qsuits
          mv qsuits_linux_amd64 qsuits
          # 给执行权限
          chmod +x qsuits

      # # 获取 sh 文件夹下改变的文件，通过环境变量 GIT_DIFF_FILTERED 可以拿到过滤后的文件，GIT_DIFF 是所有文件
      # - name: 获取 diff 文件
      #   uses: technote-space/get-diff-action@v4
      #   with: 
      #     # diff 文件过滤参数，支持忽略文件，比如 !sh/**.md（忽略sh文件夹下的 md 文件） 更多语法看 https://github.com/isaacs/minimatch#options
      #     PATTERNS: |
      #       sh/**
      #     # 输出到环境变量的值的间隔符，默认是空格间隔，七牛云工具参数要求','
      #     SEPARATOR: ','
      #     # git diff --diff-filter 参数值，默认是 AMRC
      #     DIFF_FILTER: 'AMRCD'
      - name: 获取改变文件
        id: changedFiles
        uses: jitterbit/get-changed-files@v1

      - run: |
          all = ${{steps.files.outputs.all}}
          echo "${all// /,}"
          echo "${{steps.files.outputs.added}}"
      # - name: 上传到七牛云
      #   run: |
      #     ./qsuits -process=qupload -path=./ -f-suffix=${{env.GIT_DIFF}} -keep-path=false -add-prefix=sh/ -bucket=assetss -ak=${{secrets.QINIU_AK}} -sk=${{secrets.QINIU_SK}}